<mat-toolbar color="primary" class="main-toolbar">

  <!-- Left: Home icon and name -->
  <div class="toolbar-left">
    <a [routerLink]="['']" class="home-icon">
      <mat-icon>home</mat-icon>
    </a>
    <h3 class="name">Nicholas Occhipinti</h3>
  </div>

  <!-- Right (Desktop) -->
  <div class="toolbar-right desktop-only">
    <a mat-button routerLink="/projects" style="color: white;">Projects</a>
    <a mat-button routerLink="/resume" style="color: white;">Resume</a>
  </div>

  <!-- Right (Mobile) -->
  <div class="toolbar-right mobile-only">
    <button class="ellipsis-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="More">
      <mat-icon class="ellipsis">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/projects">Projects</button>
      <button mat-menu-item routerLink="/resume">Resume</button>
    </mat-menu>
  </div>

</mat-toolbar>
