/*.example-spacer {*/
/*  flex: 1 1 auto;*/
/*}*/

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color: lightblue;
}

.menu-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

mat-toolbar {
  /* position: sticky;
  position: -webkit-sticky; */
  /* top: 0px; */
  z-index: 999;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
}

mat-toolbar a {
  height: 27px;
}
