
footer {
    background-color: #000;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main {
  background-image: url("src/assets/img/background3.png");
  background-size: cover;
  flex: 1 0 auto;
  min-height: auto;
}
