<div class="project-page">
  <div class="project-grid">
    <!-- Left Side: Image Carousel + Title -->
    <div class="project-images">
      <h1 class="heading"><b>{{ project.name }}</b></h1>
      <h3 class="heading">{{ project.caption }}</h3>

      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let img of project.images">
            <p>imgId: {{ img.imgId }}</p>
          <app-project-page-image [currentImage]="img"></app-project-page-image>
        </ng-template>
      </ngb-carousel>
    </div>

    <!-- Right Side: Description + Skills + Links -->
    <div class="project-details">
      <h1 class="heading">Description</h1>
      <mat-card style="padding: 10px;">
        <p class="content" [innerHTML]="project.desc"></p>
      </mat-card>

      <br />

      <h1 class="heading">Skills Used</h1>
      <ul class="project-skills">
        <li *ngFor="let skill of project.skills">{{ skill }}</li>
      </ul>

      <div class="project-links">
        <a
          *ngFor="let l of project.links"
          class="project-link"
          [href]="l.url"
          target="_blank"
          [title]="l.name"
        >
          <mat-icon aria-hidden="false" aria-label="{{ l.name }}">
            {{ l.icon }}
          </mat-icon>
          <span class="button-text">{{ l.name }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
