
<mat-accordion class="d-flex flex-wrap justify-content-around" id="resume_accordian" multi>
  <mat-expansion-panel class="w-75" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Experience</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let e of resume.experience">
      <mat-card>
        <mat-card-content>
          <div class="row align-items-center">

            <img src="{{e.image.imgPath}}" alt="..." class="resume-image col-sm-4 col-lg-2 img-fluid ">
            <div class="col-sm-8 col-lg-10">
              <strong>{{e.name}}</strong> - {{e.location}}
              <br>
              <strong>{{e.role}}</strong>
              <br>
              {{e.startDate}} - {{e.endDate}}
              <br>
              <br>
              <p>
                {{e.desc}}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</mat-expansion-panel>

<mat-expansion-panel class="w-75">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>Education</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngFor="let ed of resume.education">
    <mat-card>
      <mat-card-content>
        <div class="row align-items-center">
          <img src="{{ed.image.imgPath}}" alt="..." class="resume-image col-sm-4 col-lg-2 img-fluid ">
          <div>
            <strong>{{ed.university}}</strong>, {{ed.location}}
            <br>
            {{ed.degree}} - {{ed.major}}
            <br>
            {{ed.startDate}} - {{ed.endDate}}
            <div *ngIf="ed.gpa"> {{ed.gpa}} GPA</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>

<mat-expansion-panel class="w-75">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>Projects</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngFor="let r of resume.resumeProject">
    <mat-card>
      <mat-card-content>
        <strong>{{r.name}}</strong>
        <div>{{r.desc}}</div>
        <a *ngIf="r.url" href="{{r.url}}" target="_blank">{{r.url}}</a>
      </mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>
</mat-accordion>

