.heading {
  color: white;
}

mat-card {
  /*background: linear-gradient(45deg, transparent, orangered);*/
}

.intro p {
  color: #370606;
  padding: 10px;
  font-weight: bold;
  font-family: monospace;
}

.intro {
  /* background-image: url("src/assets/img/pexels-photo-82256.jpeg"); */
  background-color: gainsboro;
  background-size: cover;
  border-radius: 10px;
  max-width: 900px;
  min-width: 300px;
  margin: 20px;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}