<div class="container-fluid ">
  <div class="d-flex flex-wrap flex-row justify-content-around align-items-center">
    <div class="text-center">
      <img style="max-width: 300px; margin: 20px;" class="img-fluid" src="assets/img/59-NicholasOcchipinti7190-rev2.png" alt="picture">
      <h3 class="heading">Delivering Insights through Data Science, Geospatial Technologies and Solution Design</h3>
    </div>
    <div class="intro w-auto">
      <p style="font-family: 'Roboto';font-size: medium; color: black; font-weight: normal;">
        With over 20 years of experience in the Geographic Information Systems (GIS) field, I have built a career at the intersection of geospatial technology and data science. My work spans a wide range of technical domains—including geospatial analysis, web mapping application development, automation of GIS workflows, and the administration of enterprise GIS servers and applications.
        <br><br>
        In recent years, I have expanded my expertise into the data science space, applying advanced analytical techniques to solve complex spatial and non-spatial problems. My academic and professional experience includes machine learning, entity resolution, network science, and artificial intelligence, often integrating these approaches with geospatial data to develop innovative solutions.
        <br><br>
        This portfolio showcases a selection of my work across these areas, highlighting the skills and knowledge I have developed throughout my career.
      </p>
    </div>
  </div>
</div>

<div style="padding: 10px;">
  <h1 style="color: white;">Featured Projects</h1>
   <div class="projectContainer">
    <app-project style="margin: 10px;" [project]="project" *ngFor="let project of this.projects"></app-project>
  </div>
</div>
